<?xml version="1.0" encoding="utf-8"?>
<custombrowse>
	<requireplugins>DynamicPlayList</requireplugins>
	<menu>
		<menuname>[% menuname %]</menuname>
		<menu>
			<id>playlist</id>
			<menutype>mode</menutype>
			<menudata>PLUGIN.DynamicPlayList</menudata>
			<menuurl>plugins/DynamicPlayList/dynamicplaylist_list.html</menuurl>
		</menu>
	</menu>
</custombrowse>
