<?xml version="1.0" encoding="utf-8"?>
<custombrowse>
	<menu>
		<menuname>[% menuname %]</menuname>
		<menu>
			<id>browseitem</id>
			<menutype>mode</menutype>
			<menudata>browsetree</menudata>
			<menuurl>browsetree.html</menuurl>
		</menu>
	</menu>
</custombrowse>
