-- PlaylistName:[% playlistname %]
-- PlaylistGroups:[% playlistgroups %]
[%- IF customskipfilter %]
-- PlaylistStartAction1:cli:customskip setsecondaryfilter [% customskipfilter %]
-- PlaylistStopAction1:cli:customskip clearsecondaryfilter
[%- END %]
select url from tracks 
	where
		audio=1
	order by [% RANDOMFUNCTION %]
	[% IF nooftracks %]limit [% nooftracks %][% END %];
