<?xml version="1.0" encoding="utf-8"?>
<databasequery>
	<dataquery>
		<name>[% queryname %]</name>
		[% IF querydescription %]<description>[% querydescription %]</description>[% END %]
		<query>
			[% querysql %]
		</query>
	</dataquery>
</databasequery>

