<?xml version="1.0" encoding="utf-8"?>
<multilibrary>
	<library>
		<name>[% playlistname %]</name>
		<track>
			<data>
				select {library},id from tracks where audio=1 and content_type='mp3'
			</data>
		</track>
	</library>
</multilibrary>
