<?xml version="1.0" encoding="utf-8"?>
<custombrowse>
	<menu>
		<menuname>[% menuname %]</menuname>
		<menu>
			<id>browsedb</id>
			<menutype>mode</menutype>
			<menudata>browsedb|hierarchy=genre,contributor,album,track|level=0</menudata>
			<menuurl>browsedb.html?hierarchy=genre,contributor,album,track&amp;level=0</menuurl>
		</menu>
	</menu>
</custombrowse>
